div, footer, .sidebar   {
	background-color: rgb(242,242,242);
}
body {
	font-family: Arial, Verdana, sans-serif;
	display:grid;
	grid-template-rows: auto 1fr 30px;
	grid-template-columns: 240px 1fr;
	grid-gap: 20px;
}
header {
    display:flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
	grid-column: span 3;
	background-color: rgb(0,154,88);
}
header h1 {
	margin:0px;
	padding:10px;
	color: white;
}
.loader {
    background-color: rgba(0,154,88, 0);
    width:30px;
    height:30px;
    border: 10px solid rgba(154,222, 74, 0.6);
    border-radius: 50%;
    border-left-color: rgb(0,154,88);
    animation: loader 1s linear infinite;
}
@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}
.filter-item {
	margin-left:10px;
}
ul {
	list-style-type:none;
	padding:0px 0px 0px 20px;
	margin: 0px;
}
.category-item {
	display:flex;
	flex-wrap: wrap;
}
.category-item__block {
	margin: 10px 10px 0px 0px;
	padding: 10px;
}
.product-list {
    display: flex;
	flex-wrap: wrap;
}
.product-list__block{
	display: flex;
	height:110px;
	width:240px;
	padding: 5px;
	margin:0px 10px 10px 0px;
}
.product-list__block:hover {
    animation: changeColor 1s forwards;
}
@keyframes changeColor {
    0% {
        background-color: rgb(242,242,242);
    }
    100% {
        background-color: rgb(0,154,88);
    }
}
figure {
	margin:0px 10px 0px 0px;}
img {
	width:110px;
	height:110px;
}
.product-list__caption {
    background-color: rgba(242,242,242, 0);
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}
.product-list__caption-button {
	padding: 5px;
    background-color: #cccccc;
    border: none;
    outline: none;
}
input {
	margin-right: 10px;
}
.footer {
	grid-column: span 3;
	display: flex;
    justify-content: space-between;
	align-items: center;
	color:#666666;
}
.footer p {
	margin: 0px 20px;
}
.footer__link {
	text-decoration: none;
	color: #666666;
}
@media (max-width: 520px) {
	.sidebar {
		display: none;
	}
}
