.App {
  text-align: center;
  background-color: #a3a5a8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app_dark {
  background-color: darkslategrey;
}

