.App {
  text-align: center;
  background-color: #d7d7d7;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app_dark {
  background-color: #888888;
}

