.user-template {
    box-sizing: border-box;
    display: flex;
    background-color: white;
    width: 400px;
    margin: 10px 10px 0 0;
    padding: 10px;
}

.user-template__img {
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

.user-template_dark {
    background-color: #bdbdbd;
}
