.navbar {
    box-sizing: border-box;
    background-color: darkcyan;
    height: 50px;
    width: 100%;
    display: inherit;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 15px;
}
.navbar__links {
    margin-left: auto;
}
